/* 0 */
/* ------------------------------- */
body{
    font-family: 'Kiwi Maru','Noto Sans TC','Baloo 2','Roboto';
}


:root {
    --bl: rgb(50, 125, 215);
    --wh: #fff;
    --re: rgb(250, 110, 125);
    --or: rgb(225, 150, 65);
  }

  div{
      transition: .2s;
  }

/* 0-bs */
/* ------------------------------- */
.container, .row, .col-5{
padding: 0;
margin:0;
}


section{
    width:100vw;
    height:100vh;
    background-color: #000;
}

.title{
    color:var(--wh);
    font-size: 3rem;
    font-weight:400;
    height:fit-content;
    text-align: center;
    width:100%;
    white-space: nowrap;
}

.line{
    height:2px;
    /* max-width:1000px; */
    max-width:0px;
    margin:auto;
    background-color: var(--wh);
     -webkit-mask-image: linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 1.0)100%);
    }

.button{
    color:var(--wh);
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--bl);
    border:1px solid var(--bl);
    border-radius: 50px;
    width:fit-content;
    transform: translateY(150px);
    cursor: pointer;
    }
.button:hover{
    background-color: transparent;
    }
/* zero */
/* ------------------------------- */
.zero{
top:35vh;
left:50vw;
width:100%;
transform: translateX(-50%);
}
@media (min-width: 1057px) {
    .zero{
        width:50%;
        }
}

/* one */
/* ------------------------------- */
.one{
    width:100%;
    top:10vh;
    left:50vw;
    transform: translateX(-50%);
}

.one .title{
    color:var(--wh);
    width:100%;
    font-family: 'Baloo 2';
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
/* ------------------------------- */
.cards_wrap{
    width:90vw;
    max-width:950px;
    height:60vh;
    overflow: hidden;
    /* background-color: red; */
    /* cursor: */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .cards_wrap{
        width:540px;
}
}


.cards{
    white-space: nowrap;
    width:450vw;
    max-width:4750px;
    height:60vh;
    /* transform: translateX(-90vw); */
    /* background-color: green; */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .cards{
        width:2700px;
}
}
@media (min-width: 1057px) {
    .cards{
    /* transform: translateX(-950px) */
}
}

.options{
    width:90vw;
    max-width:950px;
    height:60vh;
    /* background-color: yellow; */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .options{
        width:540px;
}
}


/* type 1:height */
.option{
    height: 27.5vh;
    min-width:130px;
    max-width:400px;
width:42.5%;
background-color: rgba(255, 255, 255, 0.55);
margin: 7.5px;
border-radius: 10px;
cursor: pointer;
}

.option img{
max-height:100px;
transition: .2s;
}

@media (min-width: 1057px) {
    .option img{
        max-height:120px;
        }
}

.option:hover{
    background-color: rgba(255, 255, 255, 1);
}


/* type 2:width */
.option_width{
width:90%;
max-width:800px;
height: 12.5vh;
}
.option_width img{
    max-height:50px;
    }

@media (min-width: 1057px) {
    .option_width img{
        max-height:70px;
        }
    }

.cards .selected{
    background-color: rgba(255, 255, 255, 1);
}
/* ------------------------------- */
.one .arrows{
    width:100%;
    max-width: 870px;
}
@media (min-width: 601px) and (max-width: 1056px) {
    .one .arrows{
        max-width: 540px;
}
}

.one .arrow{
    color:var(--wh);
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .05rem;
    cursor: pointer;
    
}

.one .arrow:hover{
    color:var(--bl);
}
.one .arrow:nth-of-type(3):hover{
    color:var(--or);
}
/* ------------------------------- */
.one .pages{
    width:100%;
    color:var(--wh);
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 10px;
    font-weight:600;
}

.one .page{
    background-color: var(--bl);
    border-radius: 50%;
    width: 35px;
    height:35px;
    line-height: 35px;
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center; 
}
/* ------------------------------- */
.one .popup_wrap{
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition:.1s
}
.one .popup{
    width:60%;
    max-width:400px;
    height:37.5vh;
    max-height: 325px;
    background-color: var(--wh);
    border-radius:15px ;
    padding: 20px;
    left:50%;
    top:25vh;
    transform: translateX(-50%) ;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}
.one .popup .content{
    color: var(--re);
    width:fit-content;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3rem;
}
.one .popup .content i{
    font-size: 4rem;
}

.one .popup .button{
    font-size: 1.75rem;
    letter-spacing: .1rem;
    color:var(--wh);
    background-color: var(--re);
    border:1px solid var(--re);
    border-radius: 50px;
    width:fit-content;
    transform: translateY(0);
}

.one .popup .button:hover{
    background-color: transparent;
    color:var(--re);
}
/* two */
/* ------------------------------- */
.two{
    width:100%;
    top:10vh;
    left:50vw;
    transform: translateX(-50%);
}

.two .title{
    font-size: 2.5rem;
    width:80%;
    margin-bottom: 10vh;
}
/* ------------------------------- */
.circle_process{
    border-radius: 50%;
    position: relative;
	width: 300px;
	height : 300px;  
}

/* right */
/* -------------------- */
.circle_process .right_part{
    top:0;
	width: 150px;
	height: 300px;
    /* ----------------------- */
    right:0;

}
.circle_process .right_circle{
    position: relative;
    width: 300px;
	height: 300px;
	border:15px solid rgba(50, 124, 215, 0.2);
    /* background: linear-gradient(rgb(250, 110, 125)0%,var(--or) 45% ); */
	border-radius: 50%;
	transform : rotate(-135deg);
    /* ----------------------- */
	border-top:15px solid var(--or);
	border-right:15px solid var(--or);
	right:0;
    animation-name:right_circle_0;
    /* ----------------------- */
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

.right_circle_g:before{
    position: absolute;
    top: -15px; bottom: -15px;
    left: -15px; right: -15px;
    background: linear-gradient(rgb(250, 110, 125)0%,rgba(250, 110, 125, 0)45% );
    content: '';
    border-radius: 50%;
}



/* left */
/* -------------------- */
.circle_process .left_part{
    top:0;
	width: 150px;
	height: 300px;
    /* ----------------------- */
    left:0;
}
.circle_process .left_circle{
    position: relative;
    width: 300px;
	height: 300px;
	border:15px solid rgba(50, 124, 215, 0.2);
    /* background: linear-gradient(rgb(250, 110, 125)0%,var(--or) 45% ); */
	border-radius: 50%;
	transform : rotate(-135deg);
    /* ----------------------- */
	border-bottom:15px solid var(--or);
	border-left:15px solid var(--or);
	left:0;
	animation-name:left_circle_0;
    /* ----------------------- */
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}

.left_circle_g:before{
    position: absolute;
    top: -15px; bottom: -15px;
    left: -15px; right: -15px; 
    background: linear-gradient(270deg, var(--or)45%,rgba(250, 110, 125)100% );
    content: '';
    border-radius: 50%;
}

.circle_content{
    background-color: #000;
    width: 275px;
	height: 275px;
    border-radius: 50%;
    padding:75px 50px;
    font-family: 'Roboto';
   white-space: nowrap;
   color:var(--wh);
   top:50%;
   left:50%;
   transform: translateX(-50%)translateY(-50%);
   z-index:2;
}
/* 數字 */
.circle_content .number{
font-size: 7rem;
font-weight:200;
line-height:4rem;
}
/* % */
.circle_content .number span{
font-size: 2rem;
}
/* 評語 */
.circle_content .content{
font-family: 'Kiwi Maru';
font-size: 2rem;
}
/* ------------------------------- */
.two .button{
    transform: translateY(0);
    margin-top: 10vh;
}
/* ------------------------------- */
.two .answer{
    color:var(--wh);
    width:fit-content;
    font-size: 1.25rem;
    cursor: pointer;
}
.two .answer:hover{
    color:var(--or);
}
/* ------------------------------- */
.two .answers{
    z-index:999;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
}

.two .answers .answer_card{
    width:45vw;
    height:35vh;
    min-width: 200px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.two .answers .answer_card_width{
    width:30vw;
    height:15vh;
    min-width: 300px;
    max-width: 450px;
}
