/* 0 */
/* ------------------------------- */
body{
    font-family: 'Kiwi Maru','Noto Sans TC','Baloo 2','Roboto';
}


:root {
    --bl: rgb(50, 125, 215);
    --wh: #fff;
    --re: rgb(250, 110, 125);
    --or: rgb(225, 150, 65);
  }

  div{
      transition: .2s;
  }

/* 0-bs */
/* ------------------------------- */
.container, .row, .col-5{
padding: 0;
margin:0;
}


section{
    width:100vw;
    height:100vh;
    background-color: #000;
}

.title{
    color:var(--wh);
    font-size: 3rem;
    font-weight:400;
    height:fit-content;
    text-align: center;
    width:100%;
    white-space: nowrap;
}

.line{
    height:2px;
    /* max-width:1000px; */
    max-width:0px;
    margin:auto;
    background-color: var(--wh);
     -webkit-mask-image: linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 1.0)100%);
    }

.button{
    color:var(--wh);
    font-size: 2rem;
    font-weight: 500;
    white-space: nowrap;
    background-color: var(--bl);
    border:1px solid var(--bl);
    border-radius: 50px;
    width:fit-content;
    transform: translateY(150px);
    cursor: pointer;
    }
.button:hover{
    background-color: transparent;
    }
/* zero */
/* ------------------------------- */
.zero{
top:30vh;
left:50vw;
width:100%;
transform: translateX(-50%);
}
@media (min-width: 1057px) {
    .zero{
        top:35vh;
        width:50%;
        }
}


/* one */
/* ------------------------------- */
.one{
    width:100%;
    top:5vh;
    left:50vw;
    transform: translateX(-50%);
}
@media (min-width: 1057px) {
    .one{
        top:10vh;
        transform: translateX(-50%);
    }
}

.one .title{
    color:var(--wh);
    width:100%;
    font-family: 'Baloo 2';
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
/* ------------------------------- */
.cards_wrap{
    width:90vw;
    max-width:950px;
    height:60vh;
    overflow: hidden;
    /* background-color: red; */
    /* cursor: */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .cards_wrap{
        width:540px;
}
}


.cards{
    white-space: nowrap;
    width:450vw;
    max-width:4750px;
    height:60vh;
    /* transform: translateX(-90vw); */
    /* background-color: green; */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .cards{
        width:2700px;
}
}
@media (min-width: 1057px) {
    .cards{
    /* transform: translateX(-950px) */
}
}

.options{
    width:90vw;
    max-width:950px;
    height:60vh;
    /* background-color: yellow; */
}
@media (min-width: 601px) and (max-width: 1056px) {
    .options{
        width:540px;
}
}


/* type 1:height */
.option{
    height: 27.5vh;
    min-width:130px;
    max-width:400px;
width:42.5%;
background-color: rgba(255, 255, 255, 0.55);
margin: 7.5px;
border-radius: 10px;
cursor: pointer;
}

.option img{
max-height:100px;
transition: .2s;
}

@media (min-width: 1057px) {
    .option img{
        max-height:120px;
        }
}

.option:hover{
    background-color: rgba(255, 255, 255, 1);
}


/* type 2:width */
.option_width{
width:90%;
max-width:800px;
height: 12.5vh;
}
.option_width img{
    max-height:50px;
    }

@media (min-width: 1057px) {
    .option_width img{
        max-height:70px;
        }
    }

.cards .selected{
    background-color: rgba(255, 255, 255, 1);
}
/* ------------------------------- */
.one .arrows{
    width:100%;
    max-width: 870px;
}
@media (min-width: 601px) and (max-width: 1056px) {
    .one .arrows{
        max-width: 540px;
}
}

.one .arrow{
    color:var(--wh);
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .05rem;
    cursor: pointer;
    
}

.one .arrow:hover{
    color:var(--bl);
}
.one .arrows a{
    transition: .2s;
    color:var(--wh);
}

.one .arrows a:hover{
    color:var(--or);
}
/* ------------------------------- */
.one .pages{
    width:100%;
    color:var(--wh);
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 10px;
    font-weight:600;
}

.one .page{
    background-color: var(--bl);
    border-radius: 50%;
    width: 35px;
    height:35px;
    line-height: 35px;
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center; 
}
/* ------------------------------- */
.one .popup_wrap{
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition:.1s
}
.one .popup{
    width:60%;
    max-width:400px;
    height:37.5vh;
    max-height: 325px;
    background-color: var(--wh);
    border-radius:15px ;
    padding: 20px;
    left:50%;
    top:25vh;
    transform: translateX(-50%) ;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}
.one .popup .content{
    color: var(--re);
    width:fit-content;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 3rem;
}
.one .popup .content i{
    font-size: 4rem;
}

.one .popup .button{
    font-size: 1.75rem;
    letter-spacing: .1rem;
    color:var(--wh);
    background-color: var(--re);
    border:1px solid var(--re);
    border-radius: 50px;
    width:fit-content;
    transform: translateY(0);
}

.one .popup .button:hover{
    background-color: transparent;
    color:var(--re);
}
/* two */
/* ------------------------------- */
.two{
    width:100%;
    top:5vh;
    left:50vw;
    transform: translateX(-50%);
}
@media (min-width: 1057px) {
    .two{
        top:50vh;
        transform: translateX(-50%)translateY(-50%);
    }
}

.two .title{
    font-size: 2.5rem;
    width:80%;
    margin-bottom: 3vh;
}
@media (min-width: 1057px) {
    .two .title{
        margin-bottom: 5vh;
    }
}
/* ------------------------------- */
.circle_process{
    border-radius: 50%;
    position: relative;
	width: 250px;
	height : 250px;  
}
@media (min-width: 1057px) {
    .circle_process{
        width: 300px;
        height : 300px;  
    }
}

/* right */
/* -------------------- */
.circle_process .right_part{
    top:0;
	width: 125px;
	height: 250px;
    /* ----------------------- */
    right:0;
}
@media (min-width: 1057px) {
    .circle_process .right_part{
        width: 150px;
        height: 300px;
    }
}

.circle_process .right_circle{
    position: relative;
    width: 250px;
	height: 250px;
	border:15px solid rgba(50, 124, 215, 0.2);
    /* background: linear-gradient(rgb(250, 110, 125)0%,var(--or) 45% ); */
	border-radius: 50%;
	transform : rotate(-135deg);
    /* ----------------------- */
	border-top:15px solid var(--or);
	border-right:15px solid var(--or);
	right:0;
    animation-name:right_circle_0;
    /* ----------------------- */
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
@media (min-width: 1057px) {
    .circle_process .right_circle{
        width: 300px;
        height: 300px;
        border:15px solid rgba(50, 124, 215, 0.2);
        /* ----------------------- */
        border-top:15px solid var(--or);
        border-right:15px solid var(--or);
    }
}

.right_circle_g:before{
    position: absolute;
    top: -15px; bottom: -15px;
    left: -15px; right: -15px;
    background: linear-gradient(rgb(250, 110, 125)0%,rgba(250, 110, 125, 0)45% );
    content: '';
    border-radius: 50%;
}



/* left */
/* -------------------- */
.circle_process .left_part{
    top:0;
	width: 125px;
	height: 250px;
    /* ----------------------- */
    left:0;
}
@media (min-width: 1057px) {
    .circle_process .left_part{
        width: 150px;
        height: 300px;
    }
}
.circle_process .left_circle{
    position: relative;
    width: 250px;
	height: 250px;
	border:15px solid rgba(50, 124, 215, 0.2);
    /* background: linear-gradient(rgb(250, 110, 125)0%,var(--or) 45% ); */
	border-radius: 50%;
	transform : rotate(-135deg);
    /* ----------------------- */
	border-bottom:15px solid var(--or);
	border-left:15px solid var(--or);
	left:0;
	animation-name:left_circle_0;
    /* ----------------------- */
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
}
@media (min-width: 1057px) {
    .circle_process .left_circle{
        width: 300px;
	height: 300px;
    }
}

.left_circle_g:before{
    position: absolute;
    top: -15px; bottom: -15px;
    left: -15px; right: -15px; 
    background: linear-gradient(270deg, var(--or)45%,rgba(250, 110, 125)100% );
    content: '';
    border-radius: 50%;
}

.circle_content{
    background-color: #000;
    width: 225px;
	height: 225px;
    border-radius: 50%;
    padding:45px 50px;
    font-family: 'Roboto';
   white-space: nowrap;
   color:var(--wh);
   top:50%;
   left:50%;
   transform: translateX(-50%)translateY(-50%);
   z-index:2;
}
@media (min-width: 1057px) {
    .circle_content{
        width: 275px;
	height: 275px;
    padding:75px 50px;
    }
}
/* 數字 */
.circle_content .number{
font-size: 6rem;
font-weight:200;
line-height:2.5rem;
}
@media (min-width: 1057px) {
    .circle_content .number{
        font-size: 7rem;
        line-height:4rem;
        }
}

/* % */
.circle_content .number span{
font-size: 1.75rem;
}
/* 評語 */
.circle_content .content{
font-family: 'Kiwi Maru';
font-size: 1.5rem;
}
@media (min-width: 1057px) {
    .circle_content .content{
        font-size: 2rem;
        }
}
/* ------------------------------- */
.two .buttons{
max-width: 600px;
}

.two .button{
    transform: translateY(0);
    margin-top: 3vh;
}
@media (min-width: 1057px) {
    .two .button{
        margin-top: 5vh;
    }
}
/* ------------------------------- */
.two .answer{
    color:var(--wh);
    width:fit-content;
    font-size: 1.25rem;
    white-space: nowrap;
    cursor: pointer;
}
.two .answer:hover{
    color:var(--or);
}
@media (min-width: 1057px) {
    .two .answer{
        margin-bottom: 3rem;
    }
}
/* ------------------------------- */
.two .answers{
    z-index:999;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
}

.two .answers .answer_card{
    width:45vw;
    height:35vh;
    min-width: 200px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

.two .answers .answer_card_width{
    width:30vw;
    height:15vh;
    min-width: 300px;
    max-width: 450px;
}
/* ------------------------------- */
.two .share_buttons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding-left: 0;
    /* line-height: 1; */
    margin:0;
    /* max-width:350px; */
    /* transform: scale(1.75); */
  }

  @media (min-width: 1057px) {
    .two .share_buttons {
        max-width:350px;
        transform: scale(1.75);
      }
  }
  .two .share_buttons li {
    padding: 0 5px;
    height: 22px;
  }
  /* ------------------------------- */
  .other_game_wrap{
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
    transition:.1s
  }
  .other_game{
width:50%;
min-width:320px;
max-width:600px;
height:40vh;
min-height:200px;
top: 27vh;
left:50%;
transform: translateX(-50%);
border-radius: 20px;
z-index:999;
background-color: rgba(255, 255, 255, 1);
overflow: hidden;
  }
  .other_game .games{
    height:125px;
  }
  .mask{
    background: linear-gradient(
        90deg,rgba(255, 255, 255, 0.8) 0%, 
        rgba(255, 255, 255, 0.8) 10%, 
        transparent 11%, 
        transparent 89%,
        rgba(255, 255, 255, 0.8) 90%, 
        rgba(255, 255, 255, 0.8) 100%);
    height:100%;
    top:0;
    pointer-events: none;
  }
  @media (min-width: 1057px) {
    .other_game{
        height:40vh;
        min-height:200px;
        top: 27vh;
          }
    .other_game .games{
        height:170px;
      }
      .mask{
        background: linear-gradient(
            90deg,rgba(255, 255, 255, 0.9) 0%, 
            rgba(255, 255, 255, 0.9) 5%,
            rgba(255, 255, 255, 0.4) 20%, 
            transparent 35%,
            transparent 50%, 
            transparent 65%,
            rgba(255, 255, 255, 0.4) 80%, 
            rgba(255, 255, 255, 0.9) 95%, 
            rgba(255, 255, 255, 0.9) 100%);
            
      }
}

  .other_game .games .game{
      width: 10vw;
      min-width:100px;
      height:10vw;
      min-height:100px;
      margin: 10px;
      border-radius: 20px;  
      background-color: var(--bl);
  }
 
  .other_game .games .game i{
font-size:3.5rem; 
color:var(--wh);
}
@media (min-width: 1057px) {
    .other_game .games .game i{
        font-size:5rem; 
        }
}
  .other_game .closee{
    z-index:999;
    font-size: 1.75rem;
    letter-spacing: .1rem;
    color:var(--wh);
    background-color: var(--re);
    border:1px solid var(--re);
    border-radius: 25px;
    width:fit-content;
    height:50px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
}
.other_game .closee:hover{
    background-color: transparent;
    color:var(--re);
}
  /* ------------------------------- */
.other_game .arrow{
color: var(--re);
font-size: 4rem;
transition: .2s;
cursor: pointer;
top:22.5%;
}
/* left */
.other_game .arrow:nth-of-type(1){
    left:2.5%;
}
/* right */
.other_game .arrow:nth-of-type(2){
    right:3.5%;
}

@media (min-width: 1057px) {
    .other_game.arrow{
        top:26%;
        }

}

@media (min-width: 601px) {
    .other_game .arrow:hover{
        filter: drop-shadow(0px 0px 5px rgba(250, 110, 125, 1));
        transform: scale(1.05);
    }
}
  /* ------------------------------- */
  .part{
    color:white;
    font-size: 2rem;
}

.cloth_t:before{
    color: rgba(250, 110, 125,.6);
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    display: block;
    top: -35%;
    left:50%;
    content: '\f8c0';
    transform: translateX(-50%) rotate(15deg);
    animation-name: logo_swing;
    animation-duration:.75s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.food_t:before{
    color: rgba(250, 110, 125,.6);
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    display: block;
    top: -35%;
    left:50%;
    content: '\f2e7';
    transform: translateX(-50%) rotate(15deg);
    animation-name: logo_swing;
    animation-duration:.75s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.drink_t:before{
    color: rgba(250, 110, 125,.6);
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    display: block;
    top: -35%;
    left:50%;
    content: '\f4e3';
    transform: translateX(-50%) rotate(15deg);
    animation-name: logo_swing;
    animation-duration:.75s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.car_t:before{
    color: rgba(250, 110, 125,.6);
    font-family: "Font Awesome 5 Free";
    font-size: 5rem;
    font-weight: 900;
    position: absolute;
    display: block;
    top: -35%;
    left:50%;
    content: '\f1b9';
    transform: translateX(-50%) rotate(15deg);
    animation-name: logo_swing;
    animation-duration:.75s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}





