.fadein{
    opacity:0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation-delay: 0s; */
}
@keyframes fadein{
	0%{
        opacity: 0;
	}

	100%{
        opacity: 1;
	}
}
/* ------------------------------------ */
.fadeup{
    opacity:0;
    animation-name: fadeup;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    @keyframes fadeup{
        0%{
            opacity: 0;
            transform: translateY(300px);
        }
    
        100%{
            opacity: 1;
            transform: translateY(200px);
        }
    }
    @keyframes fadeup_jp{
        /* 0%{
            opacity: 0;
            transform: translateY(300px);
        }
    
        100%{
            opacity: 1;
            transform: translateY(90px);
        } */
    }
/* ------------------------------------ */  
.biger{
    animation-name: biger;
    /* animation-duration: .25s; */
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    }
    @keyframes biger{
        0%{ 
            transform: scale(1);
        }
        100%{
            transform: scale(1.2);
        }
    }
/* ------------------------------------ */
.line{
    /* height:2px; */
    /* max-width:1000px; */
    /* max-width:0px;
    margin:auto;
    background-color: var(--wh); */

    animation-name: line;
    animation-duration:1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    }
    @keyframes line{
        0%{ 
            max-width:0px;
        }

        100%{
            max-width:1000px;
        }
    }
/* ------------------------------------ */
@keyframes logo_swing{
	0%{
        transform: translateX(-50%) rotate(15deg);
	}
	50%{
        transform: translateX(-50%) rotate(-15deg);
    }
    100%{
        transform: translateX(-50%) rotate(15deg);
	}
}
/* ------------------------------------ */
.light{
    animation-name: light;
    animation-duration:.25s;
    animation-delay: 1.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    filter: drop-shadow(0 0 0rem var(--re));
}
@keyframes light{
    0%{ 
        filter: drop-shadow(0 0 0rem var(--re));
    }

    100%{
        filter: drop-shadow(0 0 0.75rem var(--re));
    }
}

.circle_process_100:before{
    position: absolute;
    top: 0px; bottom: 0px;
    left: 0px; right: 0px;
    content: '';
    z-index: 2;
    border-radius: 50%;
    animation-name: circle_process_100;
    animation-duration:.25s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes circle_process_100{
	0%{
	}
	50%{
    background: linear-gradient(210deg,var(--re) 30%,var(--or) 75% );

    }
    
    100%{
    background: linear-gradient(210deg,var(--re) 30%,var(--or) 75% );

	}
}
/* ------------------------------------ */
.width{
    animation-name: width;
    animation-duration:.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes width{
    0%{ 
    /* width:45vw; */
    height:35vh;
    min-width: 200px;
    max-width: 250px;
    }

    100%{
    /* width:30vw; */
    height:15vh;
    min-width: 300px;
    max-width: 450px;
    }
}
/* ------------------------------------ */
.height{
    animation-name: height;
    animation-duration:.5s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes height{
    0%{ 
    /* width:30vw; */
    height:15vh;
    min-width: 300px;
    max-width: 450px;
    }

    100%{
    /* width:45vw; */
    height:35vh;
    min-width: 200px;
    max-width: 250px;
    }
}
/* ------------------------------------ */
.delay05{
    animation-delay: .5s;
}
.delay075{
    animation-delay: .75s;
}
.delay10{
    animation-delay: 1s;
}
.delay15{
    animation-delay: 1.5s;
}
/* ------------------------------------ */
/* 無限重複 */
.infinite {
    animation-iteration-count: infinite;
}
/* ------------------------------------ */
    /* 持續時間 */
    
    .time-7s {
        animation-duration: 7s;
    }
    
    .time-3s {
        animation-duration: 3s;
    }
    
    .time-2s {
        animation-duration: 2s;
    }
    .time-15s {
        animation-duration: 1.5s;
    }
    .time-10s {
        animation-duration: 1s;
    }
    .time-075s {
        animation-duration: .75s;
    }
    
    .time-05s {
        animation-duration: .5s;
    }
    
    .time-03s {
        animation-duration: .3s;
    }
    
    .time-025s {
        animation-duration: .25s;
    }
/* ------------------------------------ */
@keyframes right_circle_100{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        transform: rotate(45deg);
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
    }
    
    100%{
	    /* 100% */
        transform: rotate(45deg);
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
	}
}
@keyframes left_circle_100{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		transform: rotate(45deg);
        /* 80% */
		/* transform: rotate(-27deg); */
        /* 60% */
		/* transform: rotate(-99deg); */
        /* 40% */
		/* transform: rotate(-135deg); */
        /* 20% */
		/* transform: rotate(-135deg); */
        /* 0% */
		/* transform: rotate(-135deg); */
	}
}
/* ------------------------------------ */
@keyframes right_circle_80{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        transform: rotate(45deg);
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
    }
    
    100%{
	    /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        transform: rotate(45deg);
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
	}
}
@keyframes left_circle_80{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		/* transform: rotate(45deg); */
        /* 80% */
		transform: rotate(-27deg);
        /* 60% */
		/* transform: rotate(-99deg); */
        /* 40% */
		/* transform: rotate(-135deg); */
        /* 20% */
		/* transform: rotate(-135deg); */
        /* 0% */
		/* transform: rotate(-135deg); */
	}
}
/* ------------------------------------ */
@keyframes right_circle_60{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        transform: rotate(45deg);
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
    }
    
    100%{
	    /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        transform: rotate(45deg);
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
	}
}
@keyframes left_circle_60{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		/* transform: rotate(45deg); */
        /* 80% */
		/* transform: rotate(-27deg); */
        /* 60% */
		transform: rotate(-99deg);
        /* 40% */
		/* transform: rotate(-135deg); */
        /* 20% */
		/* transform: rotate(-135deg); */
        /* 0% */
		/* transform: rotate(-135deg); */
	}
}
/* ------------------------------------ */
@keyframes right_circle_40{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        transform: rotate(9deg);
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
    }
    
    100%{
	    /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        transform: rotate(9deg);
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        /* transform: rotate(-135deg); */
	}
}
@keyframes left_circle_40{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		/* transform: rotate(45deg); */
        /* 80% */
		/* transform: rotate(-27deg); */
        /* 60% */
		/* transform: rotate(-99deg); */
        /* 40% */
		transform: rotate(-135deg);
        /* 20% */
		/* transform: rotate(-135deg); */
        /* 0% */
		/* transform: rotate(-135deg); */
	}
}
/* ------------------------------------ */
@keyframes right_circle_20{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        transform: rotate(-63deg);
        /* 0% */
        /* transform: rotate(-135deg); */
    }
    
    100%{
	    /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        transform: rotate(-63deg);
        /* 0% */
        /* transform: rotate(-135deg); */
	}
}
@keyframes left_circle_20{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		/* transform: rotate(45deg); */
        /* 80% */
		/* transform: rotate(-27deg); */
        /* 60% */
		/* transform: rotate(-99deg); */
        /* 40% */
		/* transform: rotate(-135deg); */
        /* 20% */
		transform: rotate(-135deg);
        /* 0% */
		/* transform: rotate(-135deg); */
	}
}
/* ------------------------------------ */
@keyframes right_circle_0{
	0%{
		transform: rotate(-135deg);
	}
	50%{
        /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        transform: rotate(-135deg);
    }
    
    100%{
	    /* 100% */
        /* transform: rotate(45deg); */
        /* 80% */
        /* transform: rotate(45deg); */
        /* 60% */
        /* transform: rotate(45deg); */
        /* 40% */
        /* transform: rotate(9deg); */
        /* 20% */
        /* transform: rotate(-63deg); */
        /* 0% */
        transform: rotate(-135deg);
	}
}
@keyframes left_circle_0{
	0%{
		transform: rotate(-135deg);
	}
	50%{
		transform: rotate(-135deg);
	}

	100%{
        /* 100% */
		/* transform: rotate(45deg); */
        /* 80% */
		/* transform: rotate(-27deg); */
        /* 60% */
		/* transform: rotate(-99deg); */
        /* 40% */
		/* transform: rotate(-135deg); */
        /* 20% */
		/* transform: rotate(-135deg); */
        /* 0% */
		transform: rotate(-135deg);
	}
}


